.header {
  position: fixed;
  max-width: 1920px;
  width: 100%;

  &__container {
    display: flex;
    gap: 16.4%;
    align-items: center;
    max-width: 1420px;
    margin: 0 auto;
    padding-block: 20px;

    @include tab {
      gap: 9px;
      max-width: 100%;
      padding: 20px;
    }

    @include mob {
      gap: 15px;
      padding: 8px 20px;
    }
  }

  &__logo {
    @include mob {
      width: 48px;
      height: 42px;
    }
  }

  &__nav {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;

    @include tab {
      display: none;
    }
  }

  &__item {
    &--mob {
      display: none;

      @include tab {
        display: block;
      }
    }
  }

  &__actions {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
    gap: 36px;

    @include mob {
      gap: 0;
    }
  }

  &__language {
    display: none;

    @include tab {
      display: flex;
      gap: 8px;
      padding: 0 15px;
      font-size: 20px;
      border: none;

      label {
        font-weight: 400;
        color: $gray;
      }

      input:checked + label {
        gap: 6px;
        font-weight: 500;
        color: $l-black;
      }
    }

    @include mob {
      font-size: 16px;
      padding: 0;
    }
  }

  &__menu-button {
    display: none;

    @include tab {
      position: relative;
      display: block;
      width: 40px;
      height: 40px;
      padding: 11px 8px;
      background-color: transparent;

      span,
      span::before,
      span::after {
        display: block;
        position: absolute;
        top: 10.5px;
        left: 7px;
        width: 63%;
        height: 2px;
        background-color: $l-black;
        border-radius: 2px;
      }

      span::before {
        content: "";
        top: 8px;
        width: 75%;
        left: 0px;
      }

      span::after {
        content: "";
        top: 17px;
        width: 50%;
        left: 0px;
      }

      &:hover {
        span,
        span::before,
        span::after {
          background-color: $olive;
          transition: 0.3s;
        }
      }
    }

    @include mob {
      width: 32px;
      height: 36px;

      span::before {
        top: 6px;
      }

      span::after {
        top: 12px;
      }
    }
  }

  &__button {
    background-color: transparent;
    font-weight: 500;

    &--phone {
      font-family: "Roboto", "Arial", sans-serif;
      font-weight: 600;
      font-size: 20px;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

      @include tab {
        text-shadow: none;
        margin-right: 6px;
      }

      @include mob {
        font-size: 16px;
        margin-right: 25px;
      }
    }

    &--enter {
      @include mob {
        display: none;
      }
    }

    &--create {
      padding: 14px 30px;
      border: 1px solid black;
      border-radius: 12px;

      @include tab {
        display: none;
      }
    }
  }

  a,
  button {
    transition: 0.3s;

    &:hover,
    &:focus {
      color: $olive;
      border-color: $olive;
      transition: 0.3s;
    }
  }
}

.scrolled {
  background-color: $xl-yellow;
  box-shadow: 0px 5px 15px 7px rgb(255 251 237 / 100%);
  transition: 0.3s;

  &.menuOpened {
    box-shadow: none;
  }
}

.menuOpened {
  background-color: $m-yellow;
  transition: 0s;
  z-index: 1;

  .header__nav {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 50px;
    top: 115px;
    left: 0;
    width: 90%;
    padding: 40px;
    background-color: $m-yellow;
    border-bottom-right-radius: 12px;

    @include mob {
      top: 55px;
      padding: 20px;
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 30px;
    }

    .header__button--enter {
      padding: 0;
      display: block;
    }

    .header__button--create {
      display: block;
    }
  }
}

.closeButton.header__menu-button {
  span {
    background-color: $m-yellow;

    &::before {
      transform: rotate(45deg);
      width: 100%;
    }

    &::after {
      top: 8px;
      transform: rotate(-45deg);
      width: 100%;

      @include mob {
        top: 6px;
      }
    }
  }
}
