.join {
  max-width: 887px;
  margin: 0 auto;
  padding-block: 295px 291px;
  text-align: center;

  @include tab {
    padding: 187px 20px 206px;
  }

  @include mob {
    padding: 153px 20px 150px;
    max-width: 600px;
  }

  &__title {
    font-family: "Marmelad", "Arial", sans-serif;
    font-weight: 400;
    font-size: 56px;
    line-height: 66.5px;

    span {
      display: block;

      &:last-of-type {
        display: none;
      }

      @include mob {
        display: none;

        &:last-of-type {
          display: block;
        }
      }
    }

    @include mob {
      font-size: 24px;
      line-height: 29px;
    }
  }

  &__text {
    font-weight: 300;
    font-size: 26px;
    line-height: 30px;
    max-width: 700px;
    margin: 0 auto;
    padding-block: 42px 58px;

    @include tab {
      padding-block: 44px 60px;
    }

    @include mob {
      font-size: 16px;
      line-height: 19px;
      padding-block: 24px;
    }
  }

  &__actions {
    display: flex;
    justify-content: center;
    gap: 20px;

    @include mob {
      gap: 8px;
      max-width: 450px;
    }
  }

  &__button {
    font-weight: 600;
    line-height: 18px;
    max-width: 300px;
    background-color: $m-yellow;
    padding: 24px 34px;
    border-radius: 12px;
    transition: 0.3s;

    @include mob {
      flex-grow: 1;
      padding: 12px;
    }

    &--buy {
      @include mob {
        padding: 7px;
      }
    }

    &--sell {
      background-color: $l-gray;
      padding: 24px 42px;

      @include mob {
        padding: 12px 2px;
      }
    }

    &:hover,
    &:focus {
      box-shadow: 0px 0px 10px 1px rgba(142, 130, 92, 0.3);
      transition: 0.3s;
    }
  }
}
