.start {
  background-image: url("/public/img/photo/bgr-2.png");
  background-position: center 2px;
  background-repeat: no-repeat;
  padding-block: 202px 200px;

  @include tab {
    background-image: url("/public/img/photo/bgr-2-tab.png");
    background-size: 100%;
    padding: 42px 40px 39px;
  }

  @include mob {
    background-size: 990px;
    padding: 22px 20px 20px;
  }

  &__container {
    display: flex;
    gap: 80px;
    max-width: 1140px;
    background-color: $xl-yellow;
    background-image: url("/public/img/photo/bgr-3.png");
    background-repeat: no-repeat;
    background-position: left bottom;
    margin: 0 auto;
    padding: 80px;

    @include tab {
      flex-direction: column;
      gap: 16px;
      background-image: none;
      padding: 32px;
      max-width: 800px;
    }

    @include mob {
      gap: 0px;
      max-width: 600px;
      padding: 20px;
    }
  }

  &__title {
    font-family: "Marmelad", "Arial", sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;

    @include mob {
      font-size: 24px;
      line-height: 29px;
    }
  }

  &__text {
    font-weight: 400;
    padding-block: 40px;

    @include mob {
      padding-block: 32px;
    }
  }

  &__form-step {
    display: flex;
    flex-direction: column;
    gap: 17.5px;

    @include tab {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 18px 45px;
    }

    @include mob {
      gap: 22px;
    }
  }

  #first-step {
    @include tab {
      .start__input {
        order: 0;
        &:nth-child(2) {
          order: 2;
        }
        &:nth-child(3) {
          order: 4;
        }
        &:nth-child(4) {
          order: 1;
        }
        &:nth-child(5) {
          order: 3;
        }
      }

      .start__button {
        order: 5;
      }

      @include mob {
        .start__input {
          order: 1;
          &:nth-child(2) {
            order: 2;
          }
          &:nth-child(3) {
            order: 3;
          }
          &:nth-child(4) {
            order: 4;
          }
          &:nth-child(5) {
            order: 5;
          }
        }

        .start__button {
          order: 6;
        }
      }
    }
  }

  #second-step {
    @include tab {
      .start__input {
        order: 0;
        &:nth-child(2) {
          order: 2;
          margin-top: -21px;
        }
      }

      .start__captcha {
        order: 1;
      }

      .start__captcha-input {
        order: 4;
      }

      .start__actions {
        order: 3;
      }

      .start__checkbox {
        order: 6;
      }

      @include mob {
        .start__input {
          order: 1;
          &:nth-child(2) {
            order: 2;
            margin-top: 0;
          }
        }

        .start__captcha {
          order: 3;
        }

        .start__captcha-input {
          order: 4;
        }

        .start__actions {
          order: 5;
        }

        .start__checkbox {
          order: 6;
        }
      }
    }
  }

  &__input {
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-weight: 500;
    font-size: 14px;

    @include tab {
      width: 46%;
    }

    @include mob {
      width: 100%;
    }

    input {
      background-color: $l-yellow;
      color: $olive;
      font-weight: 500;
      padding: 14px 8px;
      border-radius: 6px;
      width: 320px;
      transition: 0.3s;

      @include tab {
        width: 102%;
      }

      @include mob {
        width: 100%;
      }

      &::placeholder {
        color: $olive;
        font-weight: 500;
      }

      &:hover {
        box-shadow: 0px 0px 10px 1px rgba(142, 130, 92, 0.3);
        transition: 0.3s;
      }

      &:focus {
        background-color: $xl-yellow;
        border: 1px solid $olive;
        transition: 0.3s;
      }
    }
  }

  &__button {
    flex-grow: 1;
    font-weight: 600;
    font-size: 16px;
    background-color: $m-yellow;
    padding: 16px;
    border-radius: 12px;
    transition: 0.3s;

    @include tab {
      align-self: flex-end;
    }

    &:hover,
    &:focus {
      box-shadow: 0px 0px 10px 1px rgba(142, 130, 92, 0.3);
      transition: 0.3s;
    }

    &--next {
      margin-top: 20.5px;

      @include tab {
        margin-top: 24px;
      }

      @include mob {
        margin-top: 20px;
      }
    }

    &--prev {
      background-color: $l-gray;

      @include tab {
        padding: 16px 7px;
      }

      @include mob {
        padding: 16px 13px;
      }
    }
  }

  &__captcha-input {
    label {
      gap: 9px;
      width: 100%;
    }

    @include tab {
      width: 46%;
      input {
        width: 100%;
      }
    }

    @include mob {
      width: 100%;
      margin-top: -4px;
    }
  }

  &__captcha {
    display: flex;
    justify-content: space-between;
    font-family: "RubikMarkerHatch", "Arial", sans-serif;
    font-weight: 400;
    font-size: 44px;
    text-align: center;
    color: $l-yellow;
    padding: 37px 33px;
    background-color: $m-gray;
    border-radius: 12px;

    @include tab {
      flex-grow: 1;
      padding: 38px 19px;
    }

    @include mob {
      width: 100%;
      max-width: 320px;
      margin: 0 auto;
      padding: 38px 13px;
    }
  }

  &__actions {
    display: flex;
    gap: 9px;
    margin-top: 18px;

    @include tab {
      position: relative;
      top: 22px;
      flex-grow: 1;
      margin-top: 0;
    }

    @include mob {
      width: 100%;
      top: 0;
    }
  }

  &__checkbox {
    cursor: pointer;
    position: relative;
    font-family: "PTSans", "Arial", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    max-width: 250px;
    padding-left: 30px;

    @include tab {
      position: relative;
      top: 21px;
    }

    @include mob {
      max-width: 100%;
      top: 0;
      margin-top: -3px;
    }

    label::before {
      position: absolute;
      content: "";
      top: 2px;
      left: 0;
      width: 20px;
      height: 20px;
      background-color: $emerald;
      border-radius: 4px;
    }

    input:checked + label::after {
      position: absolute;
      content: "";
      top: 8px;
      left: 4px;
      width: 10px;
      height: 7px;
      background-image: url("/public/img/svg/check.svg");
    }
  }
}
